{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "react",
    "gatsby",
    "",
    "@hooks",
    "@store",
    "@services",
    "",
    "@layouts",
    "@shared",
    "@containers",
    "",
    "@assets"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
