@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.input-radio {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__input {
    @include hidden;

    &:checked + .input-radio__icon {

      &::before {
        background-color: $black;
      }
    }
  }

  &__icon {
    box-sizing: border-box;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid $black;
    border-radius: 50%;

    &::before {
      @include center-absolute;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: transparent;
      transition: 0.2s ease;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 17px;
    color: $black;
  }
}
